In [4]:
import mysql.connector as myconn

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229"
)
my_cursor=dbConn.cursor()
my_cursor.execute("SHOW DATABASES")
print(my_cursor)
for db in my_cursor:
    print(db)

CMySQLCursor: SHOW DATABASES
('information_schema',)
('kuo',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [5]:
# 創建資料表的 SQL 語句
create_table_sql = """
    CREATE TABLE IF NOT EXISTS test.users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255) NOT NULL,
        email VARCHAR(255) NOT NULL,
        username VARCHAR(255) NOT NULL,
        password VARCHAR(255) NOT NULL
    )"""

# 創建資料表
cursor = dbConn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS test")
cursor.execute("USE test")
cursor.execute(create_table_sql)
dbConn.commit()
cursor.close()

True

In [6]:
import hashlib

my_cursor=dbConn.cursor()
m=hashlib.sha256()
account1="david"
name1="Nobady"
email1=""
pw=""
pw_h=m.hexdigest()

insSQL=f'INSERT INTO `users`(account, name, email, password) VALUES ("{account1}","{name1}","{email1}","{pw}","{pw_h}")'
my_cursor.execute(insSQL)
dbConn.commit()

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [ ]:
import mysql.connector as myconn
import hashlib

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229",
    database="testuser"
)
my_cursor=dbConn.cursor()
sql='INSERT INTO `users`(account,name, email, password) values ($s,$s,$s,$s)'
m=hashlib.sha256()
pws=['student_id','name','age','course_id','course_name','instructor']
pws_h=[]
for pw in pws:
    m.update(pw.encode('utf-8'))
    pw_h.append(m.hexdigest())
records=[(),(),(),(),()]
my_cursor.executemany(sql,records)
dbConn.commit()

In [6]:
import mysql.connector as myconn
import hashlib

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229",
    database="Kuo"
)
my_cursor=dbConn.cursor()
sql='SELECT * FROM `student_courses`WHERE course_id like "C%" ;'
my_cursor.execute(sql)
result=my_cursor.fetchall()
for row in result:
    print(row)

(1, 'Alice', 19, 'C001', 'Calculus', 'Dr. Lee')
(5, 'Emily', 19, 'C002', 'Discrete Math', 'Prof. Lin')
(6, 'Jimmy', 18, 'C002', 'Discrete Math', 'Prof. Lin')
(7, 'Ken', 20, 'C002', 'Discrete Math', 'Prof. Lin')
(8, 'Jack', 19, 'C001', 'Calculus', 'Dr. Lee')
(12, 'A', 11, 'C111', 'ada', 'aaa')
(15, 'ab', 45, 'C111', 'ssad', 'aaa')

In [11]:
dbConn=myconn.connect(
        host="localhost",
        user="Kuo",
        password="D1146229",
        database="Kuo"
    )
cursor=dbConn.cursor()
query = "SELECT file_name FROM `photodt` WHERE type='family'"
cursor.execute(query)
result=cursor.fetchall()
print(result)

[('C:/Users/user/Desktop/郭善莉的資料/大一下/coding class/summary/family.png',), ('C:/Users/user/Desktop/郭善莉的資料/大一下/coding class/summary/family02.png',), ('C:/Users/user/Desktop/郭善莉的資料/大一下/coding class/summary/family03.png',), ('C:/Users/user/Desktop/郭善莉的資料/大一下/coding class/summary/family04.png',), ('C:/Users/user/Desktop/郭善莉的資料/大一下/coding class/summary/family05.png',)]

In [7]:
import mysql.connector as myconn
import hashlib

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229",
    database="Kuo"
)
my_cursor=dbConn.cursor()
sql = "SELECT * FROM `users2`  "
my_cursor.execute(sql)
result=my_cursor.fetchall()
dict1={}
n=[]
c=[]
m=0
for row in result:
    for i in row:
        n.append(i)
    
for i in range(len(n)):
    if i%3==1:
        dict1[n[i]]=n[i+1]
for row in result:
        for i in row:
            if m%3==1:
                c.append(i)
            m+=1
print(dict1)
print(c)

{'KUO': 'b5e32b551a4a83f7138fda78c4fd48ff918b7c2e3b0ea10f449815908c714525', 'jia': '82a5b34244868037ea98f7c35fae370ae7992caaf32f0bc37f1de8d6aecf6628'}
['KUO', 'jia']

In [30]:
my_cursor.execute(sql)
result=my_cursor.fetchall()
for row in result:
    for i in range(len(row)):
        if i%3==0:
            if type(row[i])==str:
                if row[i][0]=="C":
                    print(row)

(1, 'Alice', 19, 'C001', 'Calculus', 'Dr. Lee')
(5, 'Emily', 19, 'C002', 'Discrete Math', 'Prof. Lin')
(6, 'Jimmy', 18, 'C002', 'Discrete Math', 'Prof. Lin')
(7, 'Ken', 20, 'C002', 'Discrete Math', 'Prof. Lin')
(8, 'Jack', 19, 'C001', 'Calculus', 'Dr. Lee')
(12, 'A', 11, 'C111', 'ada', 'aaa')

In [6]:
import mysql.connector as myconn
import hashlib

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229",
    database="Kuo"
)
my_cursor=dbConn.cursor()
sql='SELECT*FROM `users`;'
my_cursor.execute(sql)
result=my_cursor.fetchall()
name=[]
n=0
for row in result:
    for i in row:
        if n%2==0:
            name.append(i)
        n+=1
print(name)

['yoga', 'sharon', 'KUO']

## GUI

In [3]:
# 定義函式，將使用者輸入插入資料庫
from bs4 import BeautifulSoup as bs
import csv
from tkinter import *
import tkinter as tk 
def save_user():
    name = name_entry.get()
    age = email_entry.get()
    course_id = username_entry.get()
    course_name = password_entry.get()
    instructor = instructor_entry.get()
    
    cursor = dbConn.cursor()
    query = "INSERT INTO `student_courses` (name, age, course_id, course_name,instructor) VALUES (%s, %s, %s, %s,%s)"
    values = (name, age, course_id, course_name,instructor)
    cursor.execute(query, values)
    dbConn.commit()
    cursor.close()
  # 清空輸入欄位
    name_entry.delete(0, tk.END)
    email_entry.delete(0, tk.END)
    username_entry.delete(0, tk.END)
    password_entry.delete(0, tk.END)
    instructor_entry.delete(0, tk.END)
    # 創建 GUI 視窗
root = tk.Tk()

# 設定視窗標題
root.title("Create User")
root.geometry("300x200")

# 創建 Label 和 Entry
name_label = tk.Label(root, text="Name:")
name_label.grid(row=0, column=0, padx=1, pady=5)
name_entry = tk.Entry(root)
name_entry.grid(row=0, column=1, padx=1, pady=5)

email_label = tk.Label(root, text="age:")
email_label.grid(row=1, column=0, padx=1, pady=5)
email_entry = tk.Entry(root)
email_entry.grid(row=1, column=1, padx=1, pady=5)

username_label = tk.Label(root, text="course_id:")
username_label.grid(row=2, column=0, padx=1, pady=5)
username_entry = tk.Entry(root)
username_entry.grid(row=2, column=1, padx=1, pady=5)

password_label = tk.Label(root, text="course_name:")
password_label.grid(row=3, column=0, padx=1, pady=5)
password_entry = tk.Entry(root)
password_entry.grid(row=3, column=1, padx=1, pady=5)

i_label = tk.Label(root, text="instructor:")
i_label.grid(row=4, column=0, padx=1, pady=5)
instructor_entry = tk.Entry(root)
instructor_entry.grid(row=4, column=1, padx=1, pady=5)
# 創建 Save 按鈕
save_button = tk.Button(root, text="Save", command=save_user)
save_button.grid(row=5, column=1)

# 執行 GUI
root.mainloop()

In [28]:
from bs4 import BeautifulSoup as bs
import csv
from tkinter import *
import tkinter as tk 
def save_users():
    for i in range(3):
        name = name_entries[i].get()
        age = email_entries[i].get()
        course_id = username_entries[i].get()
        course_name = password_entries[i].get()
        instructor = instructor_entries[i].get()

        cursor = dbConn.cursor()
        query = "INSERT INTO `student_courses` (name, age, course_id, course_name,instructor) VALUES (%s, %s, %s, %s,%s)"
        values = (name, age, course_id, course_name,instructor)
        cursor.execute(query, values)
        dbConn.commit()
        cursor.close()

        # 清空輸入欄位
        name_entries[i].delete(0, tk.END)
        email_entries[i].delete(0, tk.END)
        username_entries[i].delete(0, tk.END)
        password_entries[i].delete(0, tk.END)
        instructor_entries[i].delete(0, tk.END)
    
    # 創建 GUI 視窗
root = tk.Tk()

# 設定視窗標題
root.title("Create User")
root.geometry("800x300")

# 創建 Label 和 Entry
name_label = tk.Label(root, text="Name:")
name_label.grid(row=0, column=0, padx=1, pady=5)
name_entries = []
for i in range(3):
    name_entry = tk.Entry(root)
    name_entry.grid(row=0, column=1+i, padx=1, pady=5)
    name_entries.append(name_entry)

email_label = tk.Label(root, text="age:")
email_label.grid(row=1, column=0, padx=1, pady=5)
email_entries = []
for i in range(3):
    email_entry = tk.Entry(root)
    email_entry.grid(row=1, column=1+i, padx=1, pady=5)
    email_entries.append(email_entry)

username_label = tk.Label(root, text="course_id:")
username_label.grid(row=2, column=0, padx=1, pady=5)
username_entries = []
for i in range(3):
    username_entry = tk.Entry(root)
    username_entry.grid(row=2, column=1+i, padx=1, pady=5)
    username_entries.append(username_entry)

password_label = tk.Label(root, text="course_name:")
password_label.grid(row=3, column=0, padx=1, pady=5)
password_entries = []
for i in range(3):
    password_entry = tk.Entry(root)
    password_entry.grid(row=3, column=1+i, padx=1, pady=5)
    password_entries.append(password_entry)

i_label = tk.Label(root, text="instructor:")
i_label.grid(row=4, column=0, padx=1, pady=5)
instructor_entries = []
for i in range(3):
    instructor_entry = tk.Entry(root)
    instructor_entry.grid(row=4, column=1+i, padx=1, pady=5)
    instructor_entries.append(instructor_entry)

# 創建 Save 按鈕
save_button = tk.Button(root, text="Save", command=save_users)
save_button.grid(row=5, column=1)

# 執行 GUI
root.mainloop()

In [ ]:
import mysql.connector as myconn
import hashlib

dbConn=myconn.connect(
    host="localhost",
    user="Kuo",
    password="D1146229",
    database="Kuo"
)
my_cursor=dbConn.cursor()
sql='SELECT*FROM `users` ORDER BY id ASC;'
my_cursor.execute(sql)
result=my_cursor.fetchall()
sql3="DELETE FROM `users` WHERE id=5"